$accent: #4985FF;
$dark: #323232;
$grey: #999999;
$light-grey: #E0E0E0;
$background: #E5E5E5;
$white: #FFFFFF;

// text styles
// $p: 16/auto;
// Montserrat medium 500
// $h2: 36/120;
// Montserrat bold 700
// p>h2: 16/130
// Montserrat regular 400
// h3 18/auto;
// Montserrat semibold 600
// p>h3 14/130
// Montserrat regular

// ExtraBold 800





// Переменные экрана
$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;



