.header {
    // background-color: $bg-img;???
    // База
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/hero/Rectanglehero@1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-mini-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/hero/Rectanglehero@2x.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (-o-mini-device-pixel-ratio: 3/1),
    screen and (min-resolution: 228dpi),
    screen and (min-resolution: 3dppx) {
        background: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(/img/hero/Rectanglehero@3x.jpg);
    }

    .hero {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 220px;
        padding-bottom: 335px;

        &__text {
            font-weight: 500;
            line-height: calc(20/16);
            color: $white;
        }
        &__title {
            font-weight: 800;
            font-size: 48px;
            line-height: calc(64/48);
            color: $white;
            margin-top: 20px;
            margin-bottom: 50px;
        }



        // &__title {
        //     font-weight: 900;
        //     font-size: 26px;
        //     line-height: calc(42 / 26);
        //     letter-spacing: 0.06em;
        //     margin-left: auto;
        //     margin-right: auto;
        //     margin-bottom: 30px;

        //     text-transform: uppercase;
        //     color: $hero;

        //     @media screen and (max-width: 480px) {
        //         font-weight: 700;
        //         font-size: 20px;
        //         line-height: calc(30 / 20);
        //         letter-spacing: 0.04em;
        //     }
        // }




        // Таблетка

        // @media screen and (min-width: 577px) and (max-width: 960px) {
        //     background: linear-gradient(to right,
        //             rgba(47, 48, 58, 0.4),
        //             rgba(47, 48, 58, 0.4)),
        //         url(../images/studio/Hero/t-hero@3x.jpg);
        //     background-size: cover;
        //     background-position: center;
        //     background-repeat: no-repeat;

        //     @media screen and (min-device-pixel-ratio: 2),
        //     screen and (-webkit-min-device-pixel-ratio: 2),
        //     screen and (-o-mini-device-pixel-ratio: 2/1),
        //     screen and (min-resolution: 192dpi),
        //     screen and (min-resolution: 2dppx) {
        //         background: linear-gradient(to right,
        //                 rgba(47, 48, 58, 0.4),
        //                 rgba(47, 48, 58, 0.4)),
        //             url(../images/studio/Hero/t-hero@2x.jpg);
        //     }

        //     @media screen and (min-device-pixel-ratio: 3),
        //     screen and (-webkit-min-device-pixel-ratio: 3),
        //     screen and (-o-mini-device-pixel-ratio: 3/1),
        //     screen and (min-resolution: 228dpi),
        //     screen and (min-resolution: 3dppx) {
        //         background: linear-gradient(to right,
        //                 rgba(47, 48, 58, 0.4),
        //                 rgba(47, 48, 58, 0.4)),
        //             url(../images/studio/Hero/t-hero@3x.jpg);
        //     }
        // }

        // // Десктоп
        // @media screen and (min-width: 960px) {
        //     background: linear-gradient(to right,
        //             rgba(47, 48, 58, 0.4),
        //             rgba(47, 48, 58, 0.4)),
        //         url(../images/studio/Hero/d-hero@1x.jpg);

        //     @media screen and (min-device-pixel-ratio: 2),
        //     screen and (-webkit-min-device-pixel-ratio: 2),
        //     screen and (-o-mini-device-pixel-ratio: 2/1),
        //     screen and (min-resolution: 192dpi),
        //     screen and (min-resolution: 2dppx) {
        //         background: linear-gradient(to right,
        //                 rgba(47, 48, 58, 0.4),
        //                 rgba(47, 48, 58, 0.4)),
        //             url(../images/studio/Hero/d-hero@2x.jpg);
        //     }

        //     @media screen and (min-device-pixel-ratio: 3),
        //     screen and (-webkit-min-device-pixel-ratio: 3),
        //     screen and (-o-mini-device-pixel-ratio: 3/1),
        //     screen and (min-resolution: 228dpi),
        //     screen and (min-resolution: 3dppx) {
        //         background: linear-gradient(to right,
        //                 rgba(47, 48, 58, 0.4),
        //                 rgba(47, 48, 58, 0.4)),
        //             url(../images/studio/Hero/d-hero@3x.jpg);
        //     }
    }
}