.info-lists {
    justify-content: center;
    gap: 100px;

    &__content {
        display: flex;
        // justify-content: center;
        align-items: baseline;
        gap: 20px;
    }


    &__title {
        font-size: 36px;
        line-height: calc(53/36);
        color: $black;
    }
}