.services {
    padding-top: 110px;
    padding-bottom: 105px;

    & .container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    & .h2 {
        width: 739px;
        margin-left: auto;
        margin-right: auto;

        text-align: center;
    }

    &__text {
        width: 730px;
        margin-top: 32px;
        margin-left: auto;
        margin-bottom: 70px;
        margin-right: auto;

        text-align: center;
    }

    &__list {
        justify-content: space-between;
        width: 100%;
        margin-bottom: 55px;

    }

    &__item {
        width: 353px;
        display: flex;
        gap: 17px;
        align-items: baseline;

        &-title {
            margin-bottom: 12px;
            color: $black;
        }

        &-content {
            width: 222px;
        }
    }
}

.circle {
    width: 110px;
    height: 110px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
        display: flex;
        width: 90px;
        height: 90px;
        border: 1px solid $accent;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}