h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img,
a,
svg {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-padding {
  padding: 0;
}

.list {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* Скрытие заголовка */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-padding-top{
  padding-top: 0;
}